---
layout: archive
title: "Education"
permalink: /education/
author_profile: true
---

{% include base_path %}

<style type="text/css">
 .tab { margin-left: 5%; }
</style>

2016-2020 <br/>
<b>PhD/Dr.rer.nat in Developmental Biology and Dynamical Systems Theory</b> <br/>
<i>Magna cum laude</i> (dissertation: 1.0, oral defense: 1.0) <br/>
European Molecular Biology Laboratory (EMBL) <br/>
joint PhD with Ruprech-Karls-Universität Heidelberg (Heidelberg University) <br/>
Heidelberg, Germany  <br/>
<br/>
<div class="tab">Thesis: Entrainment of coupled, phase-shifted signaling oscillations in the presomitic mesoderm<br/>
Supervisor: Dr. Alexander Aulehla<br/>
Thesis defense committee: Prof. Dr. Ulrich Schwarz (Reviewer and Chair), Dr. Justin Crocker (Reviewer), Dr. Lars Hufnagel, Prof. Dr. Nicholas S. Foulkes</div>
<br/>
2019 <br/>
<b>Physical Biology of the Cell Course Student</b> <br/>
Marine Biological Laboratory <br/>
Woods Hole, Massachusetts, USA  <br/>
<br/>
2018 <br/>
<b>Embryology Course Student</b> <br/>
Marine Biological Laboratory <br/>
Woods Hole, Massachusetts, USA  <br/>
<br/>
2017 <br/>
<b>Certificate, Introduction to Dynamical Systems and Chaos</b> <br/>
Complexity Explorer, Santa Fe Institute <br/>
<i>massive open online course (MOOC) taught by Prof. David Feldman</i> <br/>
<br/>
2016 <br/>
<b>Predoc course</b> <br/>
<i>PhD core course in molecular systems </i> <br/>
European Molecular Biology Laboratory (EMBL) <br/>
Heidelberg, Germany  <br/>
<br/>
2012-2014 <br/>
<b>Graduate courses in molecular medicine </b> <br/>
St. Luke’s College of Medicine – William H. Quasha Memorial <br/>
Quezon City, Philippines <br/>
<br/>
2006-2011 <br/>
<b>Bachelor of Science (BSc) in Biochemistry</b> <br/>
<i>Magna cum laude</i> <br/>
University of the Philippines Manila  <br/>
Manila, Philippines  <br/>
<br/>
<div class="tab">Thesis: Partial characterization of aqueous <i>Euphorbia hirta</i> extract (taua taua tea) & docking study of a flavonoid glycoside to Dengue virus serotype 2 NS3-NS2B <br/>
Supervisor: Dr. Nelson R. Villarante</div>

{% for post in site.education reversed %}
  {% include archive-single.html %}
{% endfor %}
