---
layout: archive
title: "Photos"
permalink: /photos/
author_profile: true
---

{% include base_path %}

<style type="text/css">
 .tab { margin-left: 5%; }
</style>

Click arrows/dots of the image slider below to move through photos (in reverse chronological order).

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {margin:0}
.mySlides {display: none}
img {float: center;
    height: 100%;
    max-height: 500px}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #717171;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-height: 500px) {
  .prev, .next,.text {font-size: 11px}
  .soliloquy-caption {display: block !important;}
}
</style>
</head>
<body>

<div class="slideshow-container">

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span> 
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span> 
  <span class="dot" onclick="currentSlide(10)"></span> 
  <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span> 
  <span class="dot" onclick="currentSlide(14)"></span> 
  <span class="dot" onclick="currentSlide(15)"></span> 
  <span class="dot" onclick="currentSlide(16)"></span> 
  <span class="dot" onclick="currentSlide(17)"></span> 
  <span class="dot" onclick="currentSlide(18)"></span> 
  <span class="dot" onclick="currentSlide(19)"></span> 
  <span class="dot" onclick="currentSlide(20)"></span> 
  <span class="dot" onclick="currentSlide(21)"></span> 
  <span class="dot" onclick="currentSlide(22)"></span> 
  <span class="dot" onclick="currentSlide(23)"></span> 
  <span class="dot" onclick="currentSlide(24)"></span> 
  <span class="dot" onclick="currentSlide(25)"></span> 
  <span class="dot" onclick="currentSlide(26)"></span> 
  <span class="dot" onclick="currentSlide(27)"></span> 
  <span class="dot" onclick="currentSlide(28)"></span> 
  <span class="dot" onclick="currentSlide(29)"></span> 
  <span class="dot" onclick="currentSlide(30)"></span> 
  <span class="dot" onclick="currentSlide(31)"></span> 
  <span class="dot" onclick="currentSlide(32)"></span> 
  <span class="dot" onclick="currentSlide(33)"></span> 
  <span class="dot" onclick="currentSlide(34)"></span> 
  <span class="dot" onclick="currentSlide(35)"></span> 
  <span class="dot" onclick="currentSlide(36)"></span> 
  <span class="dot" onclick="currentSlide(37)"></span> 
  <span class="dot" onclick="currentSlide(38)"></span> 
  <span class="dot" onclick="currentSlide(39)"></span> 
  <span class="dot" onclick="currentSlide(40)"></span> 
  <span class="dot" onclick="currentSlide(41)"></span> 
  <span class="dot" onclick="currentSlide(42)"></span> 
  <span class="dot" onclick="currentSlide(43)"></span> 
  <span class="dot" onclick="currentSlide(44)"></span> 
  <span class="dot" onclick="currentSlide(45)"></span> 
  <span class="dot" onclick="currentSlide(46)"></span> 
  <span class="dot" onclick="currentSlide(47)"></span> 
  <span class="dot" onclick="currentSlide(48)"></span> 
  <span class="dot" onclick="currentSlide(49)"></span> 
  <span class="dot" onclick="currentSlide(50)"></span> 
  <span class="dot" onclick="currentSlide(51)"></span> 
  <span class="dot" onclick="currentSlide(52)"></span> 
  <span class="dot" onclick="currentSlide(53)"></span> 
  <span class="dot" onclick="currentSlide(54)"></span> 
  <span class="dot" onclick="currentSlide(55)"></span>
  <span class="dot" onclick="currentSlide(56)"></span> 
  <span class="dot" onclick="currentSlide(57)"></span>
  <span class="dot" onclick="currentSlide(58)"></span>
  <span class="dot" onclick="currentSlide(59)"></span>
  <span class="dot" onclick="currentSlide(60)"></span>
  <span class="dot" onclick="currentSlide(61)"></span>
  <span class="dot" onclick="currentSlide(62)"></span>
  <span class="dot" onclick="currentSlide(63)"></span>
  <span class="dot" onclick="currentSlide(64)"></span>
  <span class="dot" onclick="currentSlide(65)"></span>
  <span class="dot" onclick="currentSlide(66)"></span>
  <span class="dot" onclick="currentSlide(67)"></span>
  <span class="dot" onclick="currentSlide(68)"></span>
  <span class="dot" onclick="currentSlide(69)"></span>
  <span class="dot" onclick="currentSlide(70)"></span>   
</div>

<center>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_goldfish.jpeg">
  <div class="text">PGLS presenting in the meeting of the EcoEvoDevo (ecology, evolution, developmental biology) group of the Institute of Cellular and Organismic Biology, Academia Sinica in Taiwan. Photo taken by Stefano Davide Vianello on 20230818.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_KinyaOta_LAQZL_202307.png">
  <div class="text">Group photo (PGLS in the middle) of the Laboratory of Aquatic Zoology (LAQZL, mentored by Kinya Ota, 2nd from right) of the Marine Research Station (MRS) of the Institute of Cellular and Organismic Biology (ICOB) of Academia Sinica in Yilan County, Taiwan. Photo by Kinya Ota taken in Yilan, Taiwan circa 202307.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_KinyaOta_LAQZL_202209.png">
  <div class="text">Group photo (PGLS in the middle) of the Laboratory of Aquatic Zoology (LAQZL, mentored by Kinya Ota, leftmost) of the Marine Research Station (MRS) of the Institute of Cellular and Organismic Biology (ICOB) of Academia Sinica in Yilan County, Taiwan. Photo by Kinya Ota taken in Yilan, Taiwan circa 202209.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_JardinBotaniqueGeneve_20211025.jpeg">
  <div class="text">PGLS (2nd from left) with friends at the Conservatoire et Jardin botaniques de la Ville de Genève in Geneva, Switzerland. Photo taken on 20211025.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_EMBL_PhDdefense_TakehitoTomita_20201204.png">
  <div class="text">PGLS after his PhD defense. Photo taken by Takehito Tomita at EMBL Heidelberg on 20201204.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_EMBL_withAlexanderAulehla_PhDdefense_TakehitoTomita_20201204.png">
  <div class="text">PGLS (right) after his PhD defense with his PhD mentor, Alexander Aulehla. Photo taken by Takehito Tomita at EMBL Heidelberg on 20201204.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_EMBL_PhDdefense_HidenobuMiyazawa_20201204.jpg">
  <div class="text">PGLS before his PhD defense. Photo taken by Hidenobu Miyazawa at EMBL Heidelberg on 20201204.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_EMBL_ThesisPrintedBoundSubmitted_ChristineHo_20201001.jpeg">
  <div class="text">PGLS posing in the lab with his bound PhD thesis. Photo taken by Christine Ho at EMBL Heidelberg on 20201001.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_UniHD_ThesisPrintedBoundSubmitted_20201001.jpeg">
  <div class="text">PGLS submitting his PhD thesis to the Faculty of Sciences of the University of Heidelberg (Ruprecht-Karls-Universität Heidelberg). Photo taken on 20201001.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS-withMarianaAlves-DTHHeidelberg-20200211.jpeg">
  <div class="text">PGLS (right) with Mariana Alves at the Dance Theatre Heidelberg in Heidelberg, Germany. Photo taken on 20200211.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_DTHeidelberg.png">
  <div class="text">PGLS (leftmost) and labmates with collaborators from the Dance Theatre Heidelberg. Photo taken in Heidelberg, Germany circa 2019.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_DTHeidelberg_2019.jpg">
  <div class="text">PGLS (leftmost) and labmates with collaborators from the Dance Theatre Heidelberg. Photo taken in Heidelberg, Germany circa 2019.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_EMBL_DBUnitEvaluation_2019.jpg">
  <div class="text">PGLS presenting his PhD research on synchronization principles underlying signaling oscillations  in development of mouse embryonic tissue during the 2019 scientific evaluation of the Developmental Biology Unit of EMBL in Heidelberg, Germany.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS-PronounsDay-fromEmiliaEsposito-EMBLHeidelberg-20191016.jpeg">
  <div class="text">PGLS (2nd row, center) and labmates in the Timing in Embryonic Development lab of EMBL Heidelberg during Pronouns Day. Photo taken on 20191016.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_OSIP2019_EPFL.jpg">
  <div class="text">PGLS (front, 2nd from left) during the 2019 Open Science in Practice (OSIP) summer school at the École Polytechnique Fédérale de Lausanne in Lausanne, Switzerland. Photo: organizers.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_PBOC2019_WoodsHole.jpg">
  <div class="text">2019 Physical Biology of the Cell Course class picture. PGLS with white asterisk. Photo taken during the 2019 Physical Biology of the Cell Course at the MBL in Woods Hole MA.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_qBio2019_SanFrancisco_ChristineHo-1_20190801.jpeg">
  <div class="text">PGLS presenting his research at the 2019 qBio conference in San Francisco, USA. Photo taken by Christine Ho on 20190801.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_qBio2019_SanFrancisco_ChristineHo-2_20190801.jpeg">
  <div class="text">PGLS presenting his research at the 2019 qBio conference in San Francisco, USA. Photo taken by Christine Ho on 20190801.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_qBio2019_withChristineHo_201908.jpeg">
  <div class="text">PGLS with Christine Ho, friend and PhD labmate, at the 2019 qBio conference in San Francisco, USA. Photo taken circa early 201908.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_qBio2019_SanFrancisco_withChristineHoAndTakehitoTomita_201908.jpeg">
  <div class="text">PGLS (middle) with friends and PhD labmates, Christine Ho and Takehito Tomita, in San Francisco for the 2019 qBio conference. Photo taken circa early 201908.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_qBio2019_SanFrancisco_withChristineHoAndTakehitoTomita-2_201908.jpeg">
  <div class="text">PGLS (rightmost) with friends and PhD labmates, Christine Ho and Takehito Tomita, in San Francisco for the 2019 qBio conference. Photo taken circa early 201908.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS-MalvikaSharan-LGBTSTEMDay-EMBLHeidelberg-20190705.jpeg">
  <div class="text">PGLS opening the  LGBTQ+ in STEM Day at the European Molecular Biology Laboratory in Heidelberg, Germany. Photo taken by Malvika Sharan on 20190705.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS-SamanthaSeah-EMBLHeidelberg-20190705.jpeg">
  <div class="text">PGLS opening the  LGBTQ+ in STEM Day at the European Molecular Biology Laboratory in Heidelberg, Germany. Photo taken by Samantha Seah on 20190705.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_EMBL_LGBTQSTEMDay_201907.jpg">
  <div class="text">PGLS opening the  LGBTQ+ in STEM Day at the European Molecular Biology Laboratory in Heidelberg, Germany. Photo taken on 20190705.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_PhilippStachelBraum_BodenseeKonstanz_20190629b.jpeg">
  <div class="text">PGLS (white asterisk) with friends and labmates in the Timing in Embryonic Development lab (mentored by Alexander Aulehla, leftmost) of the European Molecular Biology Laboratory during lab retreat at Bodensee in Konstanz, Germany. Photo by Philipp Stachel-Braum on 20190629.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_PhilippStachelBraum_BodenseeKonstanz_20190629a.jpeg">
  <div class="text">PGLS (4th from left) with friends and labmates in the Timing in Embryonic Development lab (mentored by Alexander Aulehla, leftmost) of the European Molecular Biology Laboratory during lab retreat at Bodensee in Konstanz, Germany. Photo by Philipp Stachel-Braum on 20190629. </div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS-MarianaAlves-EMBLHeidelberg-20190308.jpeg">
  <div class="text">PGLS facilitating the Ally Skills Hands-on Discussion at the European Molecular Biology Laboratory in Heidelberg, Germany during the 2019 International Women's Day. Photo taken by Mariana Alves on 20190308.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_BrunoMoretti_Embryo2018_NYC_20180726.jpeg">
  <div class="text">PGLS (center) with friends and fellow 2018 Embryology Course students in New York City after the Embryology Course. Photo taken by Bruno Moretti on 20180726.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLWoodsHole_201807.jpg">
  <div class="text">PGLS (center) with Max Courgeon (left) and Laurel Yohe (right), friends and fellow 2018 Embryology Course students. Photo taken at MBL Woods Hole MA on 20180721. </div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_WoodsHole_20180721.png">
  <div class="text">PGLS enjoying the sunset on the last day of the 2018 Embryology Course. Photo taken at MBL Woods Hole MA on 20180721.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_DaveSherwood_MBLWoodsHole_20180721.jpeg">
  <div class="text">PGLS (leftmost) with friends and fellow 2018 Embryology Course students enjoying lobster for dinner on the last day of the course. Photo taken by Dave Sherwood during the 2018 Embryology Course at MBL Woods Hole MA on 20180721.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLWoodsHole_withRoommates_20180721.jpeg">
  <div class="text">PGLS (center) with Andrea Attardi (left) and Jayson Smith (right), friends / fellow 2018 Embryology Course students / roommates. Photo taken during the 2018 Embryology Course at MBL Woods Hole MA on 20180721. </div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_EmbryologyCourse_BrunoMoretti_20180721.jpeg">
  <div class="text">2018 Embryology Course class picture. PGLS with white asterisk. Photo: Bruno Moretti.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_DaveSherwood_MBLWoodsHole_20180720.jpeg">
  <div class="text">PGLS, who scored the last point for Embryology while unfortunately twisting an ankle in the process, holds wooden bucket that marks the win against the Physiology course (18-17) in the 2018 softball match. Photo taken by Dave Sherwood during the 2018 Embryology Course at MBL Woods Hole MA on 20180720. </div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_DaveSherwood_MBLWoodsHole_20180720-1.jpeg">
  <div class="text">2018 Embryology Course with Brigid Hogan (front row, center). PGLS with white asterisk. Photo taken by Dave Sherwood during the 2018 Embryology Course at MBL Woods Hole MA on 20180720.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_DaveSherwood_MBLWoodsHole_20180709.jpeg">
  <div class="text">2018 Embryology Course (in yellow) after winning the softball match with 2018 Physiology Course (in blue). PGLS with white asterisk. Photo taken during the 2018 Embryology Course at MBL Woods Hole MA on 20180709.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_DaveSherwood_MBLWoodsHole_20180709-1.jpeg">
  <div class="text">2018 Embryology Course after winning the softball match with 2018 Physiology Course. PGLS with white asterisk. Photo taken during the 2018 Embryology Course at MBL Woods Hole MA on 20180709.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLWoodsHole_20180708-1.JPG">
  <div class="text">PGLS (right) with Ray Keller. Photo taken during the 2018 Embryology Course at MBL Woods Hole MA on 20180708.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLWoodsHole_20180708.JPG">
  <div class="text">PGLS (rightmost) and friends / fellow 2018 Embryology Course students with Ray Keller (2nd from right). Photo taken during the 2018 Embryology Course at MBL Woods Hole MA on 20180708.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLWoodsHole_AlejandroSanchezAlvarado_20180708.jpeg">
  <div class="text">PGLS presenting experiments on parabiosis of zebrafish during one of the Show-and-Tell sessions of the 2018 Embryology Course. Photo taken by Alejandro Sanchez Alvarado on 20180708.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLWoodsHole_AlejandroSanchezAlvarado_20180708-1.JPG">
  <div class="text">PGLS presenting during one of the Show-and-Tell sessions of the 2018 Embryology Course. Photo taken by Alejandro Sanchez Alvarado on 20180708.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_AndreaAttardi_MBLWoodsHole_20180703.jpeg">
  <div class="text">PGLS (2nd row, left) with friends and fellow 2018 Embryology Course students while imaging a zebrafish embryo in the lightsheet microscope. Photo taken by Andrea Attardi during the 2018 Embryology Course at MBL Woods Hole MA on 20180703.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_DaveSherwood_MBLWoodsHole_20180630.jpeg">
  <div class="text">PGLS (white asterisk) and fellow 2018 Embryology Course students with 2018 Physiology Course students during the sweat box (question and answer session) with Eric Wieschaus (rightmost, standing). Photo taken by Dave Sherwood during the 2018 Embryology Course at MBL Woods Hole MA on 20180630. </div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLWoodsHole_photoEricWieschaus_20180628.jpeg">
  <div class="text">PGLS (right) with Eric Wieschaus. Photo taken during the 2018 Embryology Course at MBL Woods Hole MA on 20180628.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLWoodsHole_photoEricWieschaus_20180628-1.JPG">
  <div class="text">PGLS (2nd from right) and friends / fellow Embryology Course students with Eric Wieschaus (center). Photo taken during the 2018 Embryology Course at MBL Woods Hole MA on 20180628. </div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_DaveSherwood_MBLWoodsHole_20180628.jpeg">
  <div class="text">PGLS (white asterisk) with friends and fellow 2018 Embryology Course students during the outdoor sweat box (question and answer session) with Paul Trainor (leftmost). Photo taken by Dave Sherwood during the 2018 Embryology Course at MBL Woods Hole MA on 20180628.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_2018_withEmbryo2018_Provincetown.jpeg">
  <div class="text">PGLS (3rd from right) with friends and fellow 2018 Embryology Course students in Provincetown during the whale-watching excursion. Dave Sherwood, one of the Course Directors, is in the middle. </div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLWoodsHole_AlejandroSanchezAlvarado_20180624.jpeg">
  <div class="text">PGLS (white asterisk) with Darcy Mishkind and Max Courgeon, presenting their experiments on anteroposterior specification of <i>Hydra</i> during one of the Show-and-Tell sessions of the 2018 Embryology Course. Photo taken by Alejandro Sanchez Alvarado on 20180624. </div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_DaveSherwood_MBLWoodsHole_20180623.jpeg">
  <div class="text">PGLS (white asterisk) with friends and fellow 2018 Embryology Course students during the outdoor sweat box (question and answer session) with Susan Strome (rightmost, wearing green). Photo taken by Dave Sherwood during the 2018 Embryology Course at MBL Woods Hole MA on 20180623.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLWoodsHole_20180623.jpg">
  <div class="text">PGLS (center) with friends and fellow 2018 Embryology Course students in the classroom with mouth pipettes. Photo taken during the 2018 Embryology Course at MBL Woods Hole MA on 20180623.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS-starfishegginjection-ZakSwartz-20180616-WoodsHole.jpeg">
  <div class="text">PGLS injecting starfish eggs during the 2018 Embryology Course. Photo taken by Zak Swartz on 20180616.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_MBLEelPond_20180610.jpeg">
  <div class="text">PGLS (leftmost) with friends and fellow 2018 Embryology Course students at Eel Pond in Woods Hole MA. Photo taken on 20180610.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS-EMBLEvents-EMBLHeidelberg-20180604.jpeg">
  <div class="text">PGLS (white asterisk) explains his PhD research on synchronization of signaling oscillations in the developing tail of mouse embryos during the 2018 Biological Oscillators conference in Heidelberg, Germany. Photo: EMBL Events.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_20180525_EMBLHeidelberg.jpg">
  <div class="text">PGLS presenting his PhD research on entrainment of signaling oscillations in mouse embryonic tissue at the Large Operon, European Molecular Biology Laboratory in Heidelberg, Germany. Photo taken on 20180525 by Christine Ho.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_UPManila_EMBLSchoolAmbassador_MarvinPelovello_20170830-1.jpg">
  <div class="text">PGLS presenting his research as a School Ambassador of the European Molecular Biology Laboratory. Photo taken at the University of the Philippines Manila on 20170830 by Marvin Pelovello.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_UPManila_EMBLSchoolAmbassador_MarvinPelovello_20170830-2.jpg">
  <div class="text">PGLS (front row, 2nd from left) with students and faculty of the the Department of Physical Sciences and Mathematics of the University of the Philippines Manila during his visit as EMBL School Ambassador. Photo taken on 20170830 by Marvin Pelovello.</div>
</div>

<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_AuditoriumA_NBIDenmark_201708.jpeg">
  <div class="text">PGLS (left) with Mogens Høgh Jensen (middle) and Jonas Juul (right) at the Auditorium A of the Niels Bohr Institute in Copenhagen, Denmark. Photo taken during a visit and discussion with Mogens and his group in August 2017.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_StemPhys2017_Denmark.png">
  <div class="text">Speakers and participants of the 2017 Physical Concepts in Stem Cell Biology Workshop in Tisvildeleje, Denmark. Photo: organizers.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS-ArgoMukherjee-Denmark-20170807.jpeg">
  <div class="text">PGLS presenting his PhD research on entrainment of signaling oscillations in mouse embryonic tissue during the Physical Concepts in Stem Cell Biology Workshop in Tisvildeleje, Denmark. Photo taken on 20170807 by Argo Mukherjee.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_ScienceMarchHD_20170423.jpeg">
  <div class="text">PGLS (rightmost) with friends during the 2014 Science March in Heidelberg, Germany. Photo taken on 20170423.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_Schwetzingen_20170326.jpeg">
  <div class="text">PGLS (rightmost) with friends and labmates at the Schloss und Schlossgarten Schwetzingen in Schwetzingen, Germany. Photo taken on 20170326.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_N211_Sinica_20160120.jpeg">
  <div class="text">PGLS (1st from right) with labmates at the Institute of Molecular Biology (IMB), Academia Sinica, Taiwan. Photo taken on 20160120 at IMB N211.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_N211_20160113.jpeg">
  <div class="text">PGLS (2nd from right) with labmates and mentor (Chih-Yen King, 1st from right) at the Institute of Molecular Biology (IMB), Academia Sinica, Taiwan. Photo taken on 20160113 during New Year lunch.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_withStudents_PICC_20150831.jpeg">
  <div class="text">PGLS (2nd row, 1st from right) with former students during the 2015 Global Forum on Research and Innovation for Health at the Philippine International Convention Center.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_2014_DKFZSummerInternshipProgram.JPG">
  <div class="text">PGLS with fellow interns during the 2014 Summer Internship Program of the Helmholtz International Graduate School for Cancer Research at the German Cancer Research Center (DKFZ) in Heidelberg, Germany.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_2014_TIGP_InternationalInternshipProgram.jpg">
  <div class="text">PGLS (first row, 2nd from right) with fellow interns during the 2014 International Internship Program of the Taiwan International Graduate Program (TIGP) in Academia Sinica. Photo: TIGP. </div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_withStudent_UPManila.jpg">
  <div class="text">PGLS (right) with a student during organic chemistry laboratory class.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_OathTaking_2011c.png">
  <div class="text">PGLS delivering speech during the 2011 oath-taking and awarding ceremony for new chemists.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_OathTaking_2011b.png">
  <div class="text">PGLS (center) and parents (1st and 2nd from right) holding certificate of recognition for ranking first in the 2011 national chemistry board exams.</div>
</div>


<div class="mySlides fade">
  <img src="https://PGLSanchez.github.io/files/PGLSphotos/PGLS_OathTaking_2011a.png">
  <div class="text">PGLS (2nd from left) with friends and fellow biochemists during the 2011 oath-taking and awarding ceremony for new chemists.</div>
</div>

</center>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>



{% for post in site.outreach reversed %}
  {% include archive-single.html %}
{% endfor %}
