---
layout: archive
title: "Press and Media"
permalink: /press-media/
author_profile: true
---

{% include base_path %}

<style type="text/css">
 .tab { margin-left: 5%; }
</style>

<b>Images</b><br/>
<img src="https://PGLSanchez.github.io/files/press-media-mouse-01.jpg"><img>
Light up (<a href="https://thenode.biologists.com/calendar-competition-and-the-winners-are/photo/">link</a>)<br/>
<i>E14.5 mouse embryo labeled for cartilage (Sox9-GFP, in biop-SpringGreen) and vasculature (highlighter ink circulated by injection in a blood vessel, in mpl-magma). Vasculature “lights up” the embryo, including within the developing bones of the limbs. Image taken using a microscope kindly sponsored by Zeiss during the 2018 Embryology Course at the Marine Biological Laboratory in Woods Hole, MA. Featured in the 2020 Calendar of The Node, community site of The Company of Biologists.</i><br/>
<br/>
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 4</div>
    <img src="https://PGLSanchez.github.io/files/press-media-chick-01.jpeg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 4</div>
    <img src="https://PGLSanchez.github.io/files/press-media-chick-02.jpeg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 4</div>
    <img src="https://PGLSanchez.github.io/files/press-media-chick-03.jpeg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 4</div>
    <img src="https://PGLSanchez.github.io/files/press-media-chick-04.jpeg" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

(Confidently) backboned with a heart (<a href="https://twitter.com/UPBCS/status/1321391259940872196?s=20">link</a>)<br/>
<i>Heart and precursors of vertebrae (in magenta, stained with antibody against the myosin heavy chain) in a chick embryo. Nuclei (stained with DAPI) are shown in gray. Image taken using a microscope kindly sponsored by Zeiss during the 2018 Embryology Course at the Marine Biological Laboratory in Woods Hole, MA. Featured in The Aurum, newsletter of the University of the Philippines Biochemistry Society.</i><br/>
<br/>
<br/>
<b>Videos</b>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zNM6xFfZ2II" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/aXehrXTfqjM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Iz_gsoW3TE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FSwissEmbassyPhilippines%2Fvideos%2F1142776069875633%2F&show_text=true&width=560&t=0" width="560" height="429" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/N2GtMGHNQ1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bjq4R1dOCL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ecAJrLZq1PY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rT5I-itcA9I?start=596" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<b>News and blogs</b>
PGLS ranks first in 2011 national chemistry board exams (<a href="https://www.philstar.com/headlines/2011/09/25/730345/graduates-dominate-board-exam-chemists">link1</a> <a href="https://news.abs-cbn.com/exam-results/09/23/11/grads-lead-331-new-licensed-chemists">link2</a> <a href="https://www1.upm.edu.ph/node/461">link3</a>)<br>
PGLS is one of the finalists in Novartis local Biocamp 2013 (<a href="http://www.science.ph/full_story.php?type=News&key=10704:phl-must-work-with-asean-nations-in-developing-sat-say-scientists">link</a>)<br>
PGLS visits the University of the Philippines Manila as School Ambassador of the European Molecular Biology Laboratory (<a href="https://www.embl.org/ells/ambassadors/embl-school-ambassador-paul-gerald-layague-sanchez/">link</a>)<br>
PGLS shares his experience as student of the Embryology Course at the Marine Biological Laboratory in Woods Hole MA (<a href="https://thenode.biologists.com/on-the-beauty-and-wonder-of-endless-forms/education/">link</a>)<br>
PGLS highlights preprints with SDV as preLighter (<a href="https://prelights.biologists.com/profiles/paul_and_stefano/">link</a>)
{% for post in site.outreach reversed %}
  {% include archive-single.html %}
{% endfor %}
