---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="column">
    2011-2014
</div>
<div class="column">
    <b>Junior Faculty, Lecturer and Instructor (chemistry and biochemistry)</b>
</div><br/>
<div class="column"> &nbsp; </div>
<div class="column">
    Department of Physical Sciences and Mathematics (DPSM)
</div><br/>
<div class="column"> &nbsp; </div>
<div class="column">
    College of Arts and Sciences (CAS)
</div><br/>
<div class="column"> &nbsp; </div>
<div class="column">
    University of the Philippines Manila 
</div><br/>
<div class="column"> &nbsp; </div>
<div class="column">
    Manila, Philippines 
</div><br/>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
