---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<style type="text/css">
 .tab { margin-left: 5%; }
</style>

2011-2014 <br/>
<b>Junior Faculty, Lecturer and Instructor (chemistry and biochemistry)</b> <br/>
Department of Physical Sciences and Mathematics (DPSM) <br/>
College of Arts and Sciences (CAS) <br/>
University of the Philippines Manila  <br/>
Manila, Philippines  <br/>
<br/>
<span class="tab"></span>AY 2011-2012, First Semester <br/>
<span class="tab"></span>* Chem18.1: Fundamentals of General Chemistry II, Lab (16 students)<br/>
<br/>
<span class="tab"></span>AY 2011-2012, Second Semester <br/>
<span class="tab"></span>* Chem14.1: Fundamentals of General Chemistry I, Lab (71 students)<br/>
<span class="tab"></span>* Chem18.1: Fundamentals of General Chemistry II, Lab (10 students)<br/>
<span class="tab"></span>* Chem31.1: Elementary Organic Chemistry, Lab (24 students)<br/>
<span class="tab"></span>* Chem40.1: Elementary Biochemistry, Lab (19 students)<br/>
<br/>
<span class="tab"></span>AY 2011-2012, Summer <br/>
<span class="tab"></span>* Chem14: Fundamentals of General Chemistry I, Lecture (34 students)=<br/>
<span class="tab"></span>* Chem18.1: Fundamentals of General Chemistry II, Lab (20 students)<br/>
<span class="tab"></span>* Chem31.1: Elementary Organic Chemistry, Lab (19 students)<br/>
<br/>
<span class="tab"></span>AY 2012-2013, First Semester <br/>
<span class="tab"></span>* Chem18.1: Fundamentals of General Chemistry II, Lab (41 students)<br/>
<span class="tab"></span>* Chem31.1: Elementary Organic Chemistry, Lab (22 students)<br/>
<span class="tab"></span>* Biochem34.1: Chemistry of Biomolecules, Lab (14 students)<br/>
<br/>
<span class="tab"></span>AY 2012-2013, Second Semester <br/>
<span class="tab"></span>* Chem14: Fundamentals of General Chemistry I, Lecture (29 students)<br/>
<span class="tab"></span>* Chem14.1: Fundamentals of General Chemistry I, Lab (59 students)<br/>
<span class="tab"></span>* Biochem35.1: Metabolism, Lab (12 students)<br/>
<span class="tab"></span>* Biochem121.1: Biochemistry of the Gene, Lab (14 students)<br/>
<br/>
2007-2011 <br/>
<b>Volunteer Peer Tutor</b> <br/>
Learning Resource Center (LRC) <br/>
University of the Philippines Manila  <br/>
Manila, Philippines 


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
