---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<style type="text/css">
 .tab { margin-left: 5%; }
</style>

2011-2014 <br/>
<b>Junior Faculty, Lecturer and Instructor (chemistry and biochemistry)</b> <br/>
Department of Physical Sciences and Mathematics (DPSM) <br/>
College of Arts and Sciences (CAS) <br/>
University of the Philippines Manila <br/>
Manila, Philippines <br/>
<br/>
<div class="tab"><a href="https://pglsanchez.github.io/files/teachingUPM-2010-2011_S.pdf">AY 2010-2011, Summer</a><br/>
* Chem18.1: Fundamentals of General Chemistry II, Lab (43 students)<br/>
* Chem31.1: Elementary Organic Chemistry, Lab (23 students)</div>
<br/>
<div class="tab"><a href="https://pglsanchez.github.io/files/teachingUPM-2011-2012_01.jpg">AY 2011-2012, First Semester</a><br/>
* Chem18.1: Fundamentals of General Chemistry II, Lab (16 students)</div>
<br/>
<div class="tab"><a href="https://pglsanchez.github.io/files/teachingUPM-2011-2012_02.jpg">AY 2011-2012, Second Semester</a><br/>
* Chem14.1: Fundamentals of General Chemistry I, Lab (71 students)<br/>
* Chem18.1: Fundamentals of General Chemistry II, Lab (10 students)<br/>
* Chem31.1: Elementary Organic Chemistry, Lab (24 students)<br/>
* Chem40.1: Elementary Biochemistry, Lab (19 students)</div>
<br/>
<div class="tab"><a href="https://pglsanchez.github.io/files/teachingUPM-2011-2012_S.jpg">AY 2011-2012, Summer</a><br/>
* Chem14: Fundamentals of General Chemistry I, Lecture (34 students)<br/>
* Chem18.1: Fundamentals of General Chemistry II, Lab (20 students)<br/>
* Chem31.1: Elementary Organic Chemistry, Lab (19 students)</div>
<br/>
<div class="tab"><a href="https://pglsanchez.github.io/files/teachingUPM-2012-2013_01.jpg">AY 2012-2013, First Semester</a><br/>
* Chem18.1: Fundamentals of General Chemistry II, Lab (41 students)<br/>
* Chem31.1: Elementary Organic Chemistry, Lab (22 students)<br/>
* Biochem34.1: Chemistry of Biomolecules, Lab (14 students)</div>
<br/>
<div class="tab"><a href="https://pglsanchez.github.io/files/teachingUPM-2012-2013_02.jpg">AY 2012-2013, Second Semester</a><br/>
* Chem14: Fundamentals of General Chemistry I, Lecture (29 students)<br/>
* Chem14.1: Fundamentals of General Chemistry I, Lab (59 students)<br/>
* Biochem35.1: Metabolism, Lab (12 students)<br/>
* Biochem121.1: Biochemistry of the Gene, Lab (14 students)</div>
<br/>
<div class="tab"><a href="https://pglsanchez.github.io/files/teachingUPM-2013-2014_S.pdf">AY 2013-2014, Summer</a><br/>
* Chem18.1: Fundamentals of General Chemistry II, Lab (23 students)<br/>
* Chem31: Elementary Organic Chemistry, Lecture (29 students)<br/>
* Chem31.1: Elementary Organic Chemistry, Lab (18 students)</div>
<br/>
2007-2011 <br/>
<b>Volunteer Peer Tutor</b> <br/>
Learning Resource Center (LRC) <br/>
University of the Philippines Manila <br/>
Manila, Philippines 


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
